<form class="new-poll" method="post" action="/polls">
  <h3>Poll Name:</h3>
  <input type="text" name="pollName">
  <h3>Option Names:</h3>
  <input type="text" name="nameOne">
  <input type="text" name="nameTwo">
  <input type="text" name="nameThree">
  <input type="text" name="nameFour">
  <input type="text" name="nameFive">
  <input type="text" name="nameSix">
  <input type="submit" value="Submit">
</form>
