<form class="new-poll" action="index.html" method="post">
  <h3>Poll Name:</h3>
  <input type="text" name="poll-name">
  <h3>Option Names:</h3>
  <input type="text" name="name-one">
  <input type="text" name="name-two">
  <input type="text" name="name-three">
</form>
