<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Poll Results</title>
  </head>
  <body>
    <h2 class="admin-poll-page">Private Poll Results</h2>
    <h3><%= poll.pollName %></h3>

    <h1>Votes:</h1>
    <div class="admin-vote-totals">
    </div>

    <h1>Voting Booth</h1>
    <div class="voting-booth">
      <h3>Link to Voting</h3>
      <button class="results-link">Private Results</button>
      <div class="voting-link"></div>
    </div>
    <hr>
    <div class="admin-timer-starter">
      <label for="">Set time til poll closes in minutes</label>
      <input id="poll-minutes" type="text" name="timeout">
      <button class="start-timer" type="button" name="start-timer">Start Timer</button>
    </div>
    <hr>
    <button class="close-poll" type="button" name="close-poll">Close Poll</button>

    <% include ../partials/libraries %>
  </body>
</html>
