<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Real Time</title>
  </head>
  <body>
    <h2>Which type of poll would you like to create?</h2>
    <button onclick="window.location.href='/open-poll'">Open Results</button>
    <button onclick="window.location.href='/admin-poll'">Private Results</button>

    <link rel="stylesheet" href="/style.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
