<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Real Time</title>
  </head>
  <body>
    <h2>Which type of poll would you like to create?</h2>
    <button onclick="window.location.href='/open-poll'">Open Results</button>
    <button onclick="window.location.href='/admin-poll'">Private Results</button>

    <% include ../partials/libraries %>
  </body>
</html>
